In [1]:
# Import modules
import os
import csv
import pandas as pd
from pathlib import Path
import pycountry
import numpy as np
import matplotlib.pyplot as plt

#print(os.getcwd())


#print("Files in Current Directory:", os.listdir(os.getcwd()))

In [2]:
# Set the file path & read the files
summer_olympics_data = Path("Resources/summer_olympics_data.csv")
olympic_data = pd.read_csv(summer_olympics_data)


dictionary_data_to_load = Path("Resources/dictionary.csv")
country_data = pd.read_csv(dictionary_data_to_load)

In [7]:
# Create data frames for the data and merge

olympic_data_df = pd.DataFrame(olympic_data)
olympic_data_df.head()
#print(olympic_data_df.info())

country_data_df = pd.DataFrame(country_data)
#country_data_df.head()
#print(country_data_df.head())
#print(country_data_df.info())

# Merge the data
#merged_data = pd.merge(olympic_data_df, country_data_df, on="Country", how="outer")

#print(merged_data.head())
#print(merged_data.info())

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [ ]:
# Because the dictionary csv only has the countries in three letter codes, name mapping has to be done before the merge

In [ ]:
print(type(olympic_data_df))
print(type(country_data_df))

In [ ]:
# Clean the data
olympic_data_df.columns = olympic_data_df.columns.str.strip()
country_data_df.columns = country_data_df.columns.str.strip()

olympic_data_df["Country"] = olympic_data_df["Country"].str.strip()
country_data_df["Country"] = country_data_df["Country"].str.strip()

#print(olympic_data.isnull().sum())
#print(country_data.isnull().sum())

# Drop the null values
#olympic_data_df.dropna(subset=["Year", "City", "Sport", "Discipline", "Athlete", "Country", "Gender"], inplace=True)
#country_data_df.dropna(subset=["Country", "Code", "population", "GDP per Capita"], inplace=True)

olympic_data_df_cleaned = olympic_data_df.dropna()
country_data_df_cleaned = country_data_df.dropna()

print(olympic_data_df_cleaned.isnull().sum())
print(country_data_df_cleaned.isnull().sum())

In [ ]:
merged_data = pd.merge(olympic_data_df_cleaned, country_data_df_cleaned, on="Country", how="outer")
print(merged_data.head())

merged_data.to_csv("merged_output_file.csv", index=False)
print("Merged DF has been successfully saved to 'merged_output_file.csv'")


# Merge the data
#merged_data = pd.merge(olympic_data_df_cleaned, country_data_df_cleaned, on="Country", how="outer")

# Create a new data frame
#merged_data_df = pd.DataFrame(merged_data)

#print(merged_data_df.head())
#print(merged_data.info())

In [ ]:
merged_data_df.to_csv("merged_output_file.csv", index=False)